/*------------------------------------------  0 GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "playfair Display", serif;
  font-size: 1.6rem;
  line-height: 2;
}
p {
  text-align: justify;
}
.contenedor {
  max-width: 80%;
  margin: auto;
}

/*------------------------------------------ 1 INICIO CABECERO  */
header {
  width: 100%;
  height: 10rem;
  /* border: 1px solid black; */
  background-color: white;
  font-weight: 650;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* logo  */
.logo-sc {
  width: 40%;
  height: auto;
  /* border: 1px solid black; */
}
.logo-sc img {
  width: 50%;
  margin-left: 3rem;
}

/* navegador  */
.nav {
  width: 60%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
}
/* .nav-principal{
} */
.nav-principal li {
  list-style: none;
  display: inline-block;
  margin: 0 2rem;
}

.nav-principal a {
  text-decoration: none;
  color: #00256c;
  font-size: 2rem;
}
.nav-principal .registro {
  background-color: #00369c;
  padding: 0.1rem 2rem 0.6rem 2rem;
  color: white;
  border-radius: 1.5rem;
  font-weight: 500;
}
.nav-principal .registro:hover {
  background-color: white;
  color: #00369c;
  border: 1px solid #00369c;
}

/*------------------------------------------ FIN CABECERO  */

/*------------------------------------------ 2 INICIO FONDO  */
.fondo-corp {
  background-image: url(/Coworking-SC-main/img/123456.png);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
/*------------------------------------------ FIN FONDO  */

/*------------------------------------------ 3 INICIO DESCRIP  */
.descrip-coworking {
  /* border: 1px solid black; */
  display: flex;
  padding-top: 5rem;
}

.descrip-texto {
  width: 50%;
  /* border: 1px solid black; */
  padding: 3rem;
  font-size: 2rem;
}

.titulo-descrip{
  display: flex;
  align-items:center ;
  justify-content: center;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.descrip-img {
  width: 40%;
  display: flex;
  
}

.descrip-foto {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.descrip-img img {
  /* border: 1px solid black; */
  max-width: 60%;
  object-fit: cover;
}
.descrip-texto h2 {
  padding-bottom: 0.3rem;
}
.descrip-texto p {
  padding-bottom: 1rem;
}

.boton-inscribete{
  text-decoration: none;
  color: #fff;
  border: 1px solid #16ce21;
  padding: 5px 10px;
  transition: all 0.4ss;
  background-color: #16ce21;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
/*------------------------------------------ FIN DESCRIP  */

/* .crezcamos-juntos{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.titulo-juntos h1{
  text-align: center;
  font-size: 20rem;
  color: black;
  font-size: 4rem;
  margin-top: 10rem;
  font-weight: 800;
}


.texto-juntos p{
text-align: center;
font-size: 2rem;
}

.raya{
  /* background-color: #16ce21; */
  color: #16ce21;
  border-top: 5px solid;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  margin-top: 5rem;
}


.raya-dos{
  /* background-color: #16ce21; */
  color: #16ce21;
  border-top: 5px solid;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  margin-top: 5rem;
}

/*------------------------------------------ 4 INICIO VIRTUDES  */
.virtudes-cowok {
  padding: 10rem 2rem 10rem 2rem;
}

.virtudes-titulo {
  text-align: center;
  padding-bottom: 5rem;
}

.virtudes-iconos {
  display: flex;
  justify-content: space-between;
}
.virtud-agil {
  width: 20%;
  margin: auto;
  /* border: 1px solid black; */
}
.virtud-agil h4 {
  text-align: center;
  font-size: 2rem;
}
.virtud-btn {
  text-align: center;
}
.virtud-img {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  height: 12rem; 
}

.virtud-agil p{
  font-size: 2rem;
}
/*------------------------------------------ FIN VIRTUDES  */

/*------------------------------------------ 6 INICIO GALERIA-APP*/

.galeria-app {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 3rem;
}
.galeria-imagenes {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid black; */
  align-content: space-around;
}
.app {
  width: 40%;
  /* border: 1px solid black; */
}
.app-titulo {
  width: 100%;
  height: 40%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-android-apple {
  width: 100%;
  height: 60%;
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
  align-items: center;
}
.galeria-foto {
  display: flex;
  justify-content: center;
}
.galeria-foto img {
  max-width: 80%;
}
/*------------------------------------------   FIN GALERIA-APP*/

/*------------------------------------------ 5 INICIO FOOTER*/
footer {
  position: absolute;
  padding-bottom: 0;
  padding: 4rem 0 2rem 0;
  width: 100%;
  height: auto;
  background-color: #12284c;
}
.logo-redes-contacto {
  display: flex;
  align-items: center;
}
.logo-footer {
  width: 40%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
}
.redes-soc {
  width: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto {
  width: 50%;
  /* border: 1px solid black; */
}
.logo-footer img {
  width: 70%;
  margin-left: 2rem;
}
.redes-soc img {
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}
.contacto img {
  display: block;
  width: 25%;
  margin: auto;
  margin-bottom: 2rem;
}
.contacto p {
  color: white;
  font-size: 1.3rem;
  margin-left: 2rem;
}
.derechos {
  height: 3rem;
}
.derechos p {
  text-align: left;
  color: aliceblue;
  font-size: 1.2rem;
  padding-top: 2rem;
}
.medio {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
/* .medio img{
  width: 30%;
} */

/*------------------------------------------ FIN FOOTER*/

/*------------------------------------------ FIN FOOTER*/
/*! =================================================*/
/*! ============= Responsive Design ============= */
/*! =================================================*/
@media screen and (max-width: 820px){ /*a los 820 se pone en 1 columna*/
	.categorias {
		grid-template-columns: 1fr 1fr; /*se tenian 3 columas, asi en 820 solo se tendran 1 fr*/
	}

	.categoria {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
	}

	.categoria img {
		width: 60px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 500px){

	
}